@model IEnumerable<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-md-6">
            <h2 class="">Categories</h2>
        </div>
        <div class="col-md-6 text-end">
            <a href="@Url.Action("Create", "Category")" class="btn btn-primary">
                <i class="bi bi-plus"></i> &nbsp;
                Create New Category</a>
        </div>
    </div>
    <br/>

</div>
   

<table class="table table-bordered table-striped" style="width=100%">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Order Display</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td width="50%">@category.Name</td>
                <td width="30%">@category.DisplayOrder </td >
                <td width="20%">
                    <a href="@Url.Action("Edit", "Category", new { id = category.Id })" class="btn btn-primary">
                        <i class="bi bi-pencil"></i> &nbsp;
                        Edit
                    </a>
                    <a href="@Url.Action("Delete", "Category", new { id = category.Id })" class="btn btn-danger">
                        <i class="bi bi-trash"></i> &nbsp;
                        Delete
                    </a>
                </td>
                    
            </tr>
        }
</table>

